<form [formGroup]="loginForm" novalidate 
  (submit)="onSubmitLogin(loginForm)">
  
  <div>
    
      <mat-form-field>
        <input matInput placeholder="Username"  id="e2e-username" formControlName="username">

        <mat-error class="error" *ngIf="loginForm.controls.username.errors?.required && loginForm.controls.username.touched">
            Please fill out the username
        </mat-error>
      </mat-form-field>
     

      
 
  </div>

  <div>

      <mat-form-field>
          <input matInput placeholder="Password"  id="e2e-password" formControlName="password">
  
          <mat-error class="error" *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.touched">
              Please fill out the password
          </mat-error>
        </mat-form-field>
  
    
  
  </div>

  <div>
    test input: <input formControlName="age">
  </div>
  <div class="error" *ngIf="loginForm.controls.age.errors?.min">
    Minimum age is 16

  </div>
  <!-- [disabled]="loginForm.invalid" -->
  <button id="e2e-button" type="submit">Login</button>


  <p>Form value: {{ loginForm.value | json }}</p>
  <p>Is form valid: {{ loginForm.valid | json }}</p>
</form>

